<hr />
<h3>The Leaderboard</h3>
<table class="table table-hover">
  <tr>
    <td>Top actor</td>
    <td>Name Namingson</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Top director</td>
    <td>Name Namingson</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Top studio</td>
    <td>Paramount Pictures</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Top year</td>
    <td>1984</td>
    <td>8</td>
  </tr>
  <tr class="success">
    <td>Top rated movie</td>
    <td><em>Citizen Kane</em></td>
    <td>9.25</td>
  </tr>
  <tr class="danger">
    <td>Lowest rated movie</td>
    <td><em>The Holy Mountain</em></td>
    <td>1.66</td>
  </tr>
</table>
<hr />

<h4>The following actors have appeared in more than one movie:</h4>
  <table class="table table-hover">
  <% Array(@actors.sort.reverse).each do |count, hash| %>
  <tr><% hash.each do |array| %>
    <td><%= array[:actor] %></td>
    <td><em><%= array[:movies] %></em></td>
    <td><%= count %></td>
  </tr><% end %>
<% end %></table>