<section id="add">
  <form action="/" method="post" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" name="episode" placeholder="Episode number">
      <input type="text" name="movie_id" placeholder="Movie ID">
      <input type="text" name="movieingonrating" placeholder="Movieing On rating">
      <input type="text" name="imdbrating" placeholder="IMDB rating">
      <input type="submit" class="btn btn-default" value="Save movie">
    </div>
  </form>
</section>
<% @movies.each do |movie| %>

<!-- MOVIE DIVIDER -->

<hr />
  <article>
    <h3><span class="glyphicon glyphicon-film"></span> Episode <%= movie.episode %>: <a href="/movie/<%= movie.moviedb_id %>"><em><%= movie.title %></em></a> (<%= movie.year %>)</h3>
  </article>
<% end %>