<h4><%= @header %></h4>
  <table class="table table-hover">
  <tr>
  	<td><strong>Genre</strong></td>
  	<td><strong>Amount</strong></td>
  </tr>
  <% @genres.each do |genre, count| %>
  <tr>
    <td><a href="/genre/<%= genre %>"><%= genre %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>