<h4><%= @header %></h4>
  <table class="table table-hover">
  <% @years.each do |year, count| %>
  <tr>
    <td><a href="/year/<%= year %>"><%= year %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>