<h4><%= @header %></h4>
  <table class="table table-hover">
   <tr>
  	<td><strong>Year</strong></td>
  	<td><strong>Amount</strong></td>
  </tr>
  <% @years.each do |year, count| %>
  <tr>
    <td><a href="/year/<%= year %>"><%= year %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>