<h4><%= @header %></h4>
  <table class="table table-hover">
    <tr>
  	<td><strong>Studio</strong></td>
  	<td><strong>Amount</strong></td>
  </tr>
  <% @productioncompanies.each do |production_company, count| %>
  <tr>
    <td><a href="/studios/<%= production_company %>"><%= production_company %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>