<h4><%= @header %></h4>
  <table class="table table-hover">
  <% @genres.each do |genre, count| %>
  <tr>
    <td><a href="/genres/<%= genre %>"><%= genre %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>