<h4>The following directors have directed more than one movie:</h4>
  <table class="table table-hover">
  <% Array(@directors.sort.reverse).each do |count, hash| %>
  <tr><% hash.each do |array| %>
    <td><a href="/person/<%= array[:id] %>"><%= array[:director] %></a></td>
    <td><em><%= array[:movies] %></em></td>
    <td><%= count %></td>
  </tr><% end %>
<% end %></table>