<h4><%= @header %></h4>
  <table class="table table-hover">
  <% @value.each do |year, count| %>
  <tr>
    <td><a href="/years/<%= year %>"><%= year %></a></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>