<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title + ' | Movieing On' %></title>
  <link rel="stylesheet" href="http://movieing-on.com/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://movieing-on.com/css/bootstrap-theme.min.css">
  <script src="http://movieing-on.com/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <nav class="navbar navbar-default navbar-top" role="navbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/rated">Ratings</a>
          </li>
          <li>
            <a href="/admin">Admin</a>
          </li>
        </ul>
      </nav>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Movieing On Statistics Website</h3>
        </div>
        <div class="panel-body">
          <em>Movieing On</em>, the CSICON network's very own show about movies from 1999 or earlier, was launched in April of 2012. Since then, we've covered XXX-COUNT TOTAL MOVIES-XXX in as many episodes. In fact, we've covered so many movies on <a href="http://www.csicon.net/mo/">the show</a> that a bunch of interesting links and connections between the movies have begun to develop. This website is dedicated to finding those links.
        </div>
      </div>


<%= yield %>

      <hr />
      <p><small>
        &copy; 2014 <a href="http://www.csicon.net/" title="CSICON">CSICON</a> and <a href="http://www.gl0d.com">The Gl0d Group</a>.
      </small></p>
    </div>
  </div>
</div>
</body>
</html>
