<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Moveing On' %></title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' id='responsive-style-css'  href='http://www.csicon.net/wp-content/themes/csicon/style.css' type='text/css' media='all' />

</head>
<body>
  <div id="wrapper">
  <div id="contentcontainer">
  <header>
    <hgroup>
      <h1><a href="/">Moveing On archive</a></h1>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>CSICON stuff...</small></p>
  </footer>
  </div></div>
</body>
</html>
