<% @movies.each do |movieingonrating, title, year| %>
<hr />
  <article>
    <h3><em><%= title %></em> (<%= year %>)</h3></h3>
    Movieing On: <%= movieingonrating%>.
  </div>
    <div class="clear"></div>
  </article>
<% end %>
