<h4>The following <%= @job %> have written more than one movie:</h4>
  <table class="table table-hover">
  <% Array(@people.sort.reverse).each do |count, hash| %>
  <tr><% hash.each do |array| %>
    <td><%= array[:name] %></td>
    <td><em><%= array[:movies] %></em></td>
    <td><%= count %></td>
  </tr><% end %>
<% end %></table>