<h4><%= @header %></h4>
  <table class="table table-hover">
  <tr>
  	<td>Year</td>
  	<td>Amount</td>
  </tr>
  <% @years.each do |year, count| %>
  <tr>
    <td><%= year %></td>
    <td><em><%= count %></em></td>
  </tr>
<% end %></table>